body{ 
    background: rgb(45, 45, 45);
  
 }

.App{
    margin: 50px;
    border: 10px ridge white;
    background-color: rgb(125, 119, 119);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
h2{ 
    text-align: center;
    font-size: 300px;
    font-weight: 600;
    color: black;
}

.contenedor-formulario{
    width: 50%;
    background-color: rgb(125, 119, 119) ;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

.tarea{ 
    width: 50%;
    background-color: rgb(125, 119, 119);
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    line-height: 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
}
.btn{
    background-color: azure;
    cursor: pointer;
    border: 0 20px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.5;
    margin-right: 10px;
}

